body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
  background-color: #f9f5f0;
  color: #333;

  background-image: url('../assets/images/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
}

h1 {
  margin-bottom: 1rem;
  opacity: 0.9;
}

h1 img {
  width: 300px;
  height: auto;
}

#fact-container {
  position: relative;
  background: #f2dcacbb;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.24);
  min-height: 80px;
  margin-bottom: 1rem;

  /* Centralizar vertical e horizontalmente o texto */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#fact {
  font-size: 1.2rem;
  margin: 0;
}

#speakFactBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #272726;
  opacity: 0.7;
  transition: transform 0.2s, color 0.2s;
  padding: 0;
  line-height: 1;
}

#speakFactBtn:hover {
  transform: scale(1.2);
}

button#newFactBtn {
  align-self: center;
  background-color: #e6bbc2b0;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button#newFactBtn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button#newFactBtn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #333;
  font-size: 0.9em;
}
